.app_bar {
  --space-around: 36px;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.45);
  position: fixed;
  left: 0;
  right: 0;
  height: var(--app-bar-height);
  display: flex;
  align-items: center;
  z-index: 5;
}

.title {
  padding-inline: var(--space-around);
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--robotic-font);
  border-right: 1px solid #dedede;
  margin-right: var(--space-around);
  font-weight: bold;
  font-size: 20px;
}

.links {
  flex: 1;
}

.flag_wrapper {
  padding-inline: var(--space-around);
  border-left: 1px solid #dedede;
}
