.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.4);
  z-index: 999;
}

.mobile {
  --space-around: 24px;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.45);
  position: fixed;
  left: 0;
  right: 0;
  height: var(--app-bar-height);
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: space-between;
}

.title,
.drawer_button {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--robotic-font);
  font-weight: bold;
  font-size: 20px;
}

.title {
  padding-inline: var(--space-around);
  border-right: 1px solid #dedede;
  margin-right: var(--space-around);
}

.drawer_button {
  padding-inline: 32px;
  border-left: 1px solid #dedede;
  margin-left: var(--space-around);
}

.links {
  display: flex;
  flex-direction: column;
  padding: 24px;

  & > li {
    margin-left: 0 !important;
    margin-bottom: 32px;

    &:before,
    &:after {
      font-size: 12px;
      color: rgba(var(--secondary-color__rgb), 0.4);
      font-weight: 700;
    }

    &:before {
      content: '<li> ';
    }

    &:after {
      content: ' <li>';
    }
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 300px;
  z-index: 1000;
}

.nav_title {
  height: var(--app-bar-height);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.25);
  position: relative;
  font-family: var(--robotic-font);
  font-weight: bold;
  display: grid;
  place-items: center;

  span {
    &:before,
    &:after {
      font-size: 12px;
      color: rgba(var(--secondary-color__rgb), 0.4);
      font-weight: 700;
    }

    &:before {
      content: '<ul> ';
    }

    &:after {
      content: ' </ul>';
    }
  }
}

.flag_wrapper {
  padding-inline: var(--space-around);
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

//#region Transitions
.overlay_transition {
  &__enter {
    opacity: 0;
  }
  &__enter_active {
    opacity: 1;
    transition: opacity 0.3s;
  }
  &__exit {
    opacity: 1;
  }
  &__exit_active {
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.drawer_transition {
  &__enter {
    transform: translateX(100%);
  }
  &__enter_active {
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.3s;
  }
  &__exit {
  }
  &__exit_active {
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
  }
}
//#endregion
