.wrapper {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
  font-family: var(--robotic-font);

  & + & {
    margin-left: 48px;
  }
}

.link {
  position: relative;
  font-weight: 600;

  &__active:before {
    content: '';
    height: 5px;
    background-color: var(--main-color);
    width: 100%;
    left: 1px;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}
