.footer {
  background-color: #eee;
  padding-block: 64px;
  padding-inline: 96px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo {
  position: relative;
  fill: var(--main-color);

  &__mail {
    fill: transparent;
    stroke: var(--main-color);
  }

  & + & {
    margin-left: 32px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
  }
  //fill: var(--main-color);
}
