.footer {
  background-color: #eee;
  padding-block: 32px;
  padding-inline: 96px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo_wrapper {
  position: relative;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 10px;
  display: grid;
  place-items: center;

  & + & {
    margin-left: 32px;
  }
}

.logo {
  position: relative;
  fill: white;

  &__mail {
    fill: transparent;
    stroke: white;
  }
}
