.wrapper {
  display: flex;
  flex: 1;
  padding-block: 128px;
  padding-inline: 96px;
  justify-content: center;
  align-items: center;
}

.section_name {
  font-family: var(--robotic-font);
  display: inline-block;
  color: rgba(var(--secondary-color__rgb), 0.4);
  top: -50px;
  position: absolute;
  font-size: 18px;

  &:before {
    content: '{/* ';
  }

  &:after {
    content: ' */ }';
  }
}

.title {
  font-family: var(--robotic-font);
  font-size: 2em;
}

.description {
  margin-top: 24px;
  color: rgba(var(--secondary-color__rgb), 0.6);
  line-height: 1.8;
}

.left {
  @media (max-width: 700px) {
    display: none;
  }
  flex: 1;
  max-width: 500px;
}

.right {
  @media (max-width: 700px) {
    padding-left: 0;
  }
  flex: 1;
  position: relative;
  padding-left: 96px;
  max-width: 800px;
}

.logo {
  max-width: 500px;
}
